#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.field-header {
  font-size: 40px;
  font-weight: 700;
  padding: 20px;
}

.field {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.field-input {
  display: flex;
  align-items: center;
}

.error-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.error-field {
  display: flex;
  align-items: center;
}

.error-message {
  font-size: 30px;
  padding-left: 15px;
}
